Original/CreditTransferWeb/Service References/CreditTransferService/CreditTransferService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CreditTransferServices_Oman/CreditTransferService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="TransferCredit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceMsisdn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationMsisdn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amountRiyal" type="xs:int" />
        <xs:element minOccurs="0" name="amountBaisa" type="xs:int" />
        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferCreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statusCode" type="xs:int" />
        <xs:element minOccurs="0" name="statusMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDenomination">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDenominationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDenominationResult" nillable="true" type="q1:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>