Original/CreditTransferWeb/Service References/CreditTransferService/CreditTransferService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreditTransferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/CreditTransferServices_Oman/CreditTransferService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/CreditTransferServices_Oman/CreditTransferService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/CreditTransferServices_Oman/CreditTransferService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreditTransferService_TransferCredit_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferCredit" />
  </wsdl:message>
  <wsdl:message name="ICreditTransferService_TransferCredit_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferCreditResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditTransferService_GetDenomination_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDenomination" />
  </wsdl:message>
  <wsdl:message name="ICreditTransferService_GetDenomination_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDenominationResponse" />
  </wsdl:message>
  <wsdl:portType name="ICreditTransferService">
    <wsdl:operation name="TransferCredit">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditTransferService/TransferCredit" message="tns:ICreditTransferService_TransferCredit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditTransferService/TransferCreditResponse" message="tns:ICreditTransferService_TransferCredit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDenomination">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditTransferService/GetDenomination" message="tns:ICreditTransferService_GetDenomination_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditTransferService/GetDenominationResponse" message="tns:ICreditTransferService_GetDenomination_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICreditTransferService" type="tns:ICreditTransferService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransferCredit">
      <soap:operation soapAction="http://tempuri.org/ICreditTransferService/TransferCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDenomination">
      <soap:operation soapAction="http://tempuri.org/ICreditTransferService/GetDenomination" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditTransferService">
    <wsdl:port name="BasicHttpBinding_ICreditTransferService" binding="tns:BasicHttpBinding_ICreditTransferService">
      <soap:address location="http://localhost/CreditTransferServices_Oman/CreditTransferService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>